@import "../styles/variables.scss";

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: $background;

  .top_header {
    background-color: $light-pink;
    height: 40vh;
    border-bottom-left-radius: 45px;
    margin-bottom: 30px;

    .container_menu_search {
      align-items: center;
      display: flex;
      height: 30%;
      justify-content: space-between;
      padding: 15px;

      .icon {
        height: 30px;
        width: 30px;
      }

      .left_icons {
        align-items: center;
        display: flex;

        .search {
          margin-right: 10px;
        }

        .search,
        .menu {
          background-color: $background;
          height: 50px;
          width: 50px;
        }
      }
    }

    .divisor {
      align-self: center;
      background-color: #adaaaa;
      bottom: 0;
      height: 1px;
      margin: 0 15px;
      position: relative;
    }

    .container_title {
      padding: 15px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first_title,
      .second_title {
        font-size: 40px;
        font-family: $NunitoRegular;
      }

      .second_title {
        padding-left: 45px;
      }
    }

    .container_filters::-webkit-scrollbar {
      display: none;
    }

    .container_filters {
      padding: 15px;
      height: 20%;
      border-bottom-left-radius: 45px;

      white-space: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: scroll;

      .btn {
        border: none;
        outline: none;
        font-size: 16px;
        font-family: $NunitoRegular;
        margin: 0 15px;
        background-color: transparent;
        padding: 5px;
        color: #6b6b6b;
        font-weight: 600;

        &.active {
          font-size: 22px;
          color: $black;
        }
      }
    }
  }

  .container_loading {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .container_cocktail::-webkit-scrollbar {
    display: none;
  }

  .container_cocktail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;

    .flex {
      display: flex;

      .more {
        align-items: center;
        background-color: $white;
        border-radius: 45px;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        margin: 5px;
        width: 210px;

        .circle {
          align-items: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;

          span {
            font-family: $NunitoRegular;
            font-size: 42px;
            font-weight: 600;
          }
        }

        span {
          font-family: $NunitoRegular;
          font-size: 18px;
          font-weight: 600;
        }
      }

      .cocktail {
        display: flex;
        background-color: $white;
        border-radius: 45px;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin: 5px;
        width: 210px;
        height: 300px;
        white-space: normal;

        .container_img {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 15px;

          .img {
            border-radius: 10px;
          }
        }

        .name {
          padding: 0 10px;
          font-weight: 600;
          font-size: 18px;
          word-wrap: break-word;
          font-family: $NunitoRegular;
          text-align: center;
        }
      }
    }
  }
}
