@import "../styles/variables.scss";

.container {
  min-height: 100vh;
  width: 100vw;

  .top_header {
    background-color: $light-pink;
    height: 40vh;
    border-bottom-left-radius: 45px;
    margin-bottom: 30px;

    .container_menu_search {
      height: 30%;
      padding: 15px;
      position: relative;

      .divisor {
        height: 1px;
        align-self: center;
      }
    }

    .container_title {
      padding: 15px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first_title,
      .second_title {
        font-size: 40px;
        font-family: $NunitoRegular;
      }

      .second_title {
        padding-left: 45px;
      }
    }

    .container_filters::-webkit-scrollbar {
      display: none;
    }

    .container_filters {
      padding: 15px;
      height: 20%;
      border-bottom-left-radius: 45px;

      white-space: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: scroll;

      button {
        border: none;
        outline: none;
        font-size: 22px;
        font-family: $NunitoRegular;
        margin: 0 15px;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  .container_cocktail {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 30px;
    width: 100%;

    .cocktail {
      align-items: center;
      border: 1px solid $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      width: 33%;
    }
  }
}
